be/test/
.DS_Store
**/.DS_Store
**fb_admin
.env
service-account.json
firebasecfg/.firebaserc
firebasecfg/firebase-debug.log
firebasecfg/firebase.json
firebasecfg/firestore-debug.log
firebasecfg/firestore.indexes.json
firebasecfg/firestore.rules
firebasecfg/fb_init.js